* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    width: 1280px;
    margin: 0 auto;
    font-family: 'Arial';
}

header {
    width: 100%;
    background-color: #445161;
    padding: 50px;
}

header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.header-wrapper {
    float: left;
}

header h1 {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}

header ul {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

header li {
    list-style: none;
    list-style-image: url(../img/check_icon.png);
    /* Параметры маркеров */
    margin-left: 30px;
}

.photo {
    display: block;
    float: right;
    align-items: center;
    /*не работает центрирование по вертикали*/
}

.product {
    width: 100%;
    padding: 50px;
    background-color: white;
}

.product:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.product-content {
    float: left;
    width: 700px;
}

.product h3 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}

.product p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
    width: 649px;
    margin-bottom: 20px;
}

video {
    display: block;
    float: right;
    outline: none;
}

.dignity {
    width: 100%;
    padding: 50px 50px 15px 50px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}

.dignity:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.dignity-title {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.dignity-list-wrapper {
    width: 50%;
}

.dignity-list {
    width: 90%;
    margin: 0 0 20px 0;
    padding: 0 0 0 40px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}

.dignity-list-title {
    outline: none;
    position: relative;
    outline-style: none;
    /* удалить обводку при фокусе */
    cursor: pointer;
}

.dignity-list-title::-webkit-details-marker {
    display: none
}

.dignity-list-title:before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    background-color: #445161;
    position: absolute;
    top: 2px;
    left: -40px;
    line-height: 30px;
}

details[open] .dignity-list-title:before {
    content: "-";
}

/* .dignity-list-wrapper:nth-child(2) > .dignity-list:nth-child(2),
.dignity-list-wrapper:nth-child(3) > .dignity-list:nth-child(2) {
    margin-bottom: 40px;
} - локальные изменения */

.dignity-list-title + p {
    color: grey;
    font-size: 16px;
    margin-top: 10px;
}

.screenshots {
    width: 100%;
    padding: 50px;
    background-color: white;
}

.screenshots:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.screenshots h3 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin-bottom: 35px;
}

.screenshots-elements {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.screenshots-elements figure {
    float: left;
    margin-bottom: 30px;
    width: 50%;
}

.screenshots img {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}

.screenshots figcaption h5 {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 5px;
}

.screenshots p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}

.reviews {
    width: 100%;
    padding: 50px 50px 26px 50px;
}

.reviews:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.reviews h3 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin-bottom: 35px;
}

.reviews-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews img {
    display: block;
    float: left;
    margin-right: 25px;
}

.reviews-text {
    margin-bottom: 24px;
    width: 574px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: justify;
    width: 453px;
    margin-right: 10px;

    border-radius: 5px;
    padding: 15px;
    position: relative;
    background: #e6e6e6;
}

.reviews-text::after,
.reviews-text::before {
    content: '';
    position: absolute;
    background: #e6e6e6;
    left: -11px;
    bottom: 80px;
    width: 20px;
    height: 20px;

    transform: rotate(45deg);
    /* Поворачиваем на 45º */
    -webkit-transform: rotate(45deg);
}

.reviews i {
    color: #333333;
}

.autor {
    color: #989898;
    margin-top: 3px;
    text-decoration: none;
}

.autor:hover {
    border-bottom: 1px solid #989898;
}

.buy {
    width: 100%;
    background-color: white;
    padding: 50px;
}

.buy:after {
    display: block;
    content: "";
    clear: both;
}

.buy h3 {
    text-align: center;
    margin-bottom: 29px;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.buy-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.buy-element {
    border: 1px solid #445162;
    border-radius: 3px;
    width: 300px;
    background-color: #445162;
    color: #ffffff;
    margin: 0 27px 0 27px;
}

.buy h5 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-weight: 400;
    padding: 15px 0;
}

.buy span {
    display: block;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    color: #445162;
    background-color: white;
    font-weight: 400;
    padding: 15px 0;
}

.buy ol {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding: 19px 0 19px 40px;
}

.buy button {
    height: 40px;
    width: 260px;
    color: #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid #445162;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 0 20px 20px 20px;
    outline: none;
}

.buy button:hover,
.send:hover {
    background-color: lightcyan;
}

.buy button:active,
.send:active {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.buy button:active,
.send:active {
    background-color: lightcyan;
}

.address {
    width: 100%;
    padding: 50px;
    background-color: #445162;
}

.address:after {
    display: block;
    content: "";
    clear: both
}

.address h3 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.address-content {
    display: flex;
    justify-content: center;
}

.name {
    width: 488px;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #445162;
    border-radius: 5px;
    color: #445162;
    font-size: 16px;
    font-family: 'Arial';
    font-weight: 400;
    line-height: 24px;
    padding-left: 10px;
    text-transform: capitalize;
    outline: none;
}

.name:focus,
textarea:focus {
    background-color: lightcyan;
    text-transform: capitalize;
}

.name:hover,
textarea:hover {
    background-color: lightcyan;
    border-color: white;
}

textarea {
    width: 488px;
    height: 168px;
    margin-bottom: 20px;
    border: 1px solid #445162;
    border-radius: 5px;
    color: #445162;
    font-family: 'Arial';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 0 0 10px;
    outline: none;
    resize: none;
    text-transform: capitalize;
}

.send {
    display: block;
    margin: 0 auto;
    width: 140px;
    height: 40px;
    color: #445162;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid #445162;
    border-radius: 5px;
    outline: none;
}

.contacts {
    margin-left: 45px;
}

.contacts div {
    margin-bottom: 29px;
}

.contacts span {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-bottom: 30px;
}

span .fa:before {
    font-family: FontAwesome;
    color: white;
    font-size: 26px;
    margin-right: 5px;
}

span img {
    float: left;
    margin-right: 5px;
}

.contacts a {
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 43px;
    margin-right: 5px;
}

.contacts a:hover {
    background-color: lightcyan;
}

.contacts a:active {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

a .fa {
    color: #445162;
    font-size: 22px;
}

footer {
    height: 25px;
    text-align: center;
    color: #445162;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
