* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #393b5b;
    background-image: url(img/PATTERN.png);
    background-image: url(img/DOTS.png) no-repeat;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-shadow: 0 -1px 0 rgba(22, 23, 48, 0.5);
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-wrapper {
    padding: 50px;
}

.line-wrapper {
    margin: 0 auto;
    background-color: #5e607a;
    width: 3px;
    height: 100%;
}

.masters {
    display: flex;
    justify-content: space-between;
    width: 260px;
    align-items: center;
    position: relative;
    margin-left: -285px;
    margin-bottom: 50px;
}

.masters p {
    padding: 13px;
    width: 155px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(201, 207, 238, 0.25);
    background-color: #a8608c;
    margin-right: 27px;
}

.masters p:after {
    content: "";
    border: 7px solid transparent;
    border-left: 15px solid #a8608c;
    position: absolute;
    top: 13px;
    left: 178px;
}

.pakistan {
    display: flex;
    justify-content: flex-start;
    width: 260px;
    align-items: center;
    position: relative;
    margin-left: -57px;
    margin-bottom: 50px;
}

.pakistan p {
    padding: 13px;
    width: 170px;
    background-color: #739ac2;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(201, 207, 238, 0.25);
    margin-left: 50px;
}

.pakistan p:before {
    content: "";
    border: 7px solid transparent;
    border-right: 15px solid #739ac2;
    position: absolute;
    top: 28px;
    left: -18px;
}

.internship {
    display: flex;
    justify-content: space-between;
    width: 175px;
    align-items: center;
    position: relative;
    margin-left: -199px;
    margin-bottom: 77px;
}

.internship p {
    padding: 13px;
    background-color: #967fb5;
    width: auto;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(201, 207, 238, 0.25);
    margin-right: 27px;
}

.internship p:after {
    content: "";
    border: 7px solid transparent;
    border-left: 15px solid #967fb5;
    position: absolute;
    top: 13px;
    left: 93px;
}

.eACCP {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70px;
    position: relative;
    margin-left: 2px;
    margin-bottom: 60px;
}

.eACCP p {
    padding: 13px;
    background-color: #7e9874;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(201, 207, 238, 0.25);
    margin-left: 33px;
}

.eACCP p:before {
    content: "";
    border: 7px solid transparent;
    border-right: 15px solid #7e9874;
    position: absolute;
    left: -18px;
}

.fell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 155px;
    position: relative;
    margin-left: -196px;
    margin-bottom: 65px;
}

.fell p {
    padding: 13px;
    background-color: #cd3737;
    width: auto;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(201, 207, 238, 0.25);
    margin-right: 34px;
}

.fell p:after {
    content: "";
    border: 7px solid transparent;
    border-left: 15px solid #cd3737;
    position: absolute;
    top: 13px;
    left: 96px;
}

.college {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    position: relative;
    margin-left: 2px;
    margin-bottom: 60px;
}

.college p {
    padding: 13px;
    background-color: #3d999d;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(201, 207, 238, 0.25);
    margin-left: 33px;
}

.college p:before {
    content: "";
    border: 7px solid transparent;
    border-right: 15px solid #3d999d;
    position: absolute;
    left: -18px;
}

.school {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 155px;
    position: relative;
    margin-left: -179px;
    margin-bottom: 62px;
}

.school p {
    padding: 13px;
    background-color: #967fb5;
    width: auto;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(201, 207, 238, 0.25);
    margin-right: 27px;
}

.school p:after {
    content: "";
    border: 7px solid transparent;
    border-left: 15px solid #967fb5;
    position: absolute;
    top: 13px;
    left: 71px;
}

.january {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    position: relative;
    margin-left: 2px;
}

.january p {
    padding: 13px;
    background-color: #6b7392;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(201, 207, 238, 0.25);
    margin-left: 33px;
}

.january p:before {
    content: "";
    border: 7px solid transparent;
    border-right: 15px solid #6b7392;
    position: absolute;
    left: -18px;
}

.circle {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(201, 207, 238, 0.25);
    background-color: #393b5b;
    background-image: linear-gradient(to top, #565b78 0%, #737c9c 100%);
    text-align: center;
    line-height: 49px;
    position: relative;
    margin-left: -75px;
}

.circle-small {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(201, 207, 238, 0.25);
    background-color: #393b5b;
    background-image: linear-gradient(to top, #565b78 0%, #737c9c 100%);
}
